body, html {
  background: #e0e0e0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/*-------------------------------------------------
# general
-------------------------------------------------*/

#all {
  background: #f7f7f7;
}

h3 {
  color: #222222;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-family: 'Varela Round', sans-serif;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  color: #222222;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 700;
  color: #f1c40f;
  outline-color: #000;
}

/*-------------------------------------------------
# side nav bar
-------------------------------------------------*/

#sidebar {
  padding-top: 0.125rem;
  background: #ffffff;
}

.sidebar-content {
  padding-top: 2.5rem;
  padding-left: 1.75rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}

.sidebar-heading {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-stretch: condensed;
  font-size: 1.325rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.39rem;
}

.sidebar-heading a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar-heading a:hover {
  border-bottom: dotted 1px #fcc853;
  color: #000;
  text-decoration: none;
}

.sidebar-p {
  color: #999;
  font-size: 1.175;
  font-weight: 200;
  margin-bottom: 2.5rem;
  font-family: 'Varela Round', sans-serif;
}

.sidebar-menu .fas {
  margin: 0 0.85rem 0 -0.1rem;
}

.sidebar-menu {
  list-style-type: none;
  padding-left: 0.25rem;
  margin-bottom: 2.5rem;
}

.sidebar-item {
  margin-bottom: 0.85rem;
  font-size: 2.175;
  font-weight: 400;
}

.sidebar-item a:hover {
  text-decoration: none;
  color: #fcc853;
}

.sidebar-link:before {
  color: #999;
}

.sidebar-link.active {
  color: #fcc853;
  font-weight: bold;
}

.sidebar-link.active::before {
  color: #fcc853;
}

.sidebar-link:hover::before {
  color: #fcc853;
}

.sidebar-link {
  color: #555;
}

.grid {
  padding: 1rem 3rem;
  overflow: hidden;
}

.grid-item {
  display: inline-block;
  width: 100%;
  margin: 2.5rem;
}

/*-------------------------------------------------
# social media 
-------------------------------------------------*/

.social {
  margin: 0.25rem;
  height: 100%;
  padding: 0.5rem;
}

.social a {
  margin: 0 0.425rem 0.425rem 0;
  color: #fff;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  line-height: 2.5rem;
  font-size: 1.1075rem;
  text-align: center;
  transition: all 0.3s;
  vertical-align: left;
  border: solid 1px #999;
  color: #999;
  transition: all 0.3s;
}

p.social a:hover {
  color: #fcc853;
  border-color: #fcc853;
}

p.social.social--big a {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  line-height: 3.75rem;
  font-size: 1.56rem;
}

p.social.social--big i {
  line-height: 3.75rem;
}

.social-link a {
  color: #999;
}

.social-link a:hover {
  color: #fcc853;
}

/*-------------------------------------------------
# copyright
-------------------------------------------------*/

.sidebar-content .copyright {
  color: #555;
  font-size: 0.8125rem;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Varela Round', sans-serif;
}

/*-------------------------------------------------
# portfolio - box masonry 
-------------------------------------------------*/

.content-column {
  padding-top: 2.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .content-column {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.masonry-item {
  margin-bottom: 2rem;
}

.box-masonry {
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
}

.box-masonry h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1.5rem;
  text-align: center;
}

.box-masonry h4 a:hover {
  border-bottom: solid 4px #ffeba2;
  color: #000;
  text-decoration: none;
}

.box-masonry h4 a {
  border-bottom: solid 4px #ffeba2;
  color: #000;
  text-decoration: none;
}

.box-masonry-text a {
  border-bottom: dotted 1px #ffeba2;
  color: #000;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.box-masonry-text a:hover {
  border-bottom: dotted 2px #ffeba2;
  color: #000;
  text-decoration: none;
}

.box-masonry .box-masonry-text {
  padding: 1rem 3rem 1rem;
  color: #555;
  font-size: 0.85rem;
  font-family: 'Varela Round', sans-serif;
}

/* .box-masonry:hover {
  margin-top: -5px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
} */

.box-masonry .box-masonry-image {
  display: block;
  position: relative;
  min-height: 6.25rem;
  background: #ccc;
}

.box-masonry .box-masonry-image:hover {
  text-decoration: none;
}

.box-masonry h2:last-child, .box-masonry p:last-child {
  margin-bottom: 0;
}

.box-masonry .box-masonry-image.with-hover-overlay:before {
  display: block;
  position: absolute;
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box-masonry .box-masonry-image.with-hover-icon:after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 3.125rem;
  color: #555;
}

.box-masonry .box-masonry-image:hover {
  text-decoration: none;
}


/*-------------------------------------------------
# badges
-------------------------------------------------*/

.badge {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 3px 6px;
  border: 1px solid transparent;
  min-width: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 99999px
}

.badge.badge-default {
  background-color: #999;
}

.badge.badge-outlined {
  background-color: transparent
}

.badge.badge-outlined.badge-default {
  border-color: #999;
  color: #999;
}

/*-------------------------------------------------
# about
-------------------------------------------------*/

.progress-title {
  font-weight: 00;
  text-transform: uppercase;
  color: #999;
  font-size: 0.9rem;
  line-height: 2rem;
  margin-left: 2.5rem;
}

.progress-bar-skill1 {
  background: #f8afc7;
}

.progress-bar-skill2 {
  background: #f598b6;
}

.progress-bar-skill3 {
  background: #f381a6;
}

.progress-bar-skill4 {
  background: #f16995;
}

.progress-bar-skill5 {
  background: #ef5285;
}

.skill-item {
  margin-bottom: 1rem;
  font-family: 'Varela Round', sans-serif;
}

.skill-item:last-of-type {
  margin-bottom: 3rem;
}

.progress {
  height: 2.5rem;
  border-radius: 0;
  margin-left: 2.5rem;
}

.quotation {
  font-size: 30px; //margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}

.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}

.btn-download {
  color: #ef5285;
  background-color: transparent;
  background-image: none;
  border-color: #ef5285;
  padding: 0.65rem;
  width: 10rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 2.25rem;
  font-weight: 500;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-download:hover {
  color: #fff;
  background-color: #ef5285;
  border-color: #ef5285;
}

/*-------------------------------------------------
# contact
-------------------------------------------------*/

.contact-form {
  margin: 2.5rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  line-height: 1.5;
}

.form-control {
  padding: 0.375rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #252525;
  background-color: #fff;
  border: 1px solid #fac7d7;
  border-radius: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.form-control:active, .form-control:focus {
  color: #252525;
  background-color: #fff;
  border-color: #fac7d7 !important;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(239, 82, 133, 0.25);
}

.content-column-content p {
  color: #555;
  margin: 2.5rem;
  font-family: 'Varela Round', sans-serif;
}

.content-column-content h1, .content-column-content h4 {
  font-weight: 700;
  margin: 0.25rem;
  margin-left: 2.25rem;
  font-family: 'Varela Round', sans-serif;
}

.btn-submit {
  color: #ef5285;
  background-color: transparent;
  background-image: none;
  border-color: #ef5285;
  padding: 0.65rem;
  width: 10rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 1.25rem;
  font-weight: 500;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-submit:hover {
  color: #fff;
  background-color: #ef5285;
  border-color: #ef5285;
}