body,
html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* general */

  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #46d4f0;
    padding: 20px;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
  }
  
  /* header */

  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    background: #ffffff;
    border-bottom: 1px solid #ebebeb;
    font-family: Georgia, Times, "Times New Roman", serif;
  }

  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
  }

  nav {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    color: #ffffff;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    border-left: 1px solid #efefef;
    margin-top: 0px;
  }
  
  nav a:first-child {
    border-left: 0 none;
    margin-top: 0px;
  }

  /* hero image */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../icy-mountain.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

  /* footer */
  
  footer {
    padding: 40px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #46d4f0;
    height: 100px;
  }
  
  h3, 
  h2 {
    padding-top: 30px;
    margin-bottom: 15px;
  }
  
  /* main */
  
  #about,
  #portfolio,
  #contact {
    padding-top: 120px;
  }
  
  .main-section {
    float: left;
    width: 100%;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }
  
  /* portfolio page */
  
  .work {
    position: relative;
    float: left;
    width: 274px;
    height: 150px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 5px;
    color: #ffffff;
    text-align: center;
    background: #46d4f0;
    border-bottom: 0;
  }

  .auth-image {
    float: left;
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  /* contact page */

  .social {
    position: flex;
  }

  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #46d4f0;
    border: 0 none;
  }

  li {
    list-style-type: none;
}

.fa {
    margin-left: 50%;
    padding: 0px;
}

@media only screen and (max-width: 640px) {
  #logo {
    width: 100%;
    margin-left: 0px;
  }
  
	nav a {
		margin-right: 70px;
  }

}

@media only screen and (max-width: 768px) {
  #logo {
    margin-left: 0px;
  }

  nav {
   margin-right: 50px;
  }
}

@media only screen and (max-width: 980px) {  
  #logo {
    margin-left: 0px;
  }
  
  nav {
    margin-right: 30px;
  }
  
}