html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

nav ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

input, select {
  vertical-align: middle
}

li {
  list-style: none
}

body, html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  background: #263742;
  color: #383c3f;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  clear: both;
}

p:last-child {
  margin-bottom: 0;
}

h3 {
  font-family: 'Gochi Hand', cursive;
  padding: 20px;
  color: #3c83ae;
  text-align: center;
}

h2 {
  font-family: 'Lobster Two', cursive;
  color: #c43f3f;
  padding: 20px;
  text-align: center;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 90px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-image: url('../icy-mountain.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* header */

#masthead {
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  opacity: 1;
  transition: opacity 0.5s ease;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  text-decoration: none;
}

nav {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  color: #ffffff;
  font-size: 18px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-left: 1px solid #efefef;
  margin-top: 0px;
}

nav a:first-child {
  border-left: 0 none;
  margin-top: 0px;
}

/* hero image */

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.btn {
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* footer */

footer {
  padding: 40px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #517a96;
  border-top: 8px solid #263742;
  height: 100px;
}

h3, h2 {
  padding-top: 30px;
  margin-bottom: 15px;
}

/* main */

#about, #portfolio, #contact {
  padding-top: 120px;
}

.main-section {
  float: left;
  width: 100%;
  padding: 35px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 25px;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  display: flex;
  width: 300px;
  height: 200px;
  margin: 20px;
  overflow: auto;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 300px;
  padding: 20px;
  margin-bottom: 0;
  font-weight: 350;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  background: #46d4f0;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 250px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  border: 2px solid #dddddd;
}

/* contact page */

.social {
  text-decoration: none;
  color: #383c3f;
  text-align: center;
}

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label, input[type=text], input[type=email], textarea {
  display: block;
  width: 100%;
}

input[type=text], input[type=email], textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #46d4f0;
  border: 0 none;
}

li {
  list-style-type: none;
}

.fa {
  margin-left: 50%;
  padding: 0px;
}

@media only screen and (max-width: 640px) {
  #logo {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
  nav a {
    margin-right: 70px;
  }
}

@media only screen and (max-width: 768px) {
  #logo {
    margin-left: 0px;
  }
  nav {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 980px) {
  #logo {
    margin-left: 0px;
  }
  nav {
    margin-right: 30px;
  }
}